@import url(Productstyle.css);
.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 96px;
}

.registration__contentLeft {
  margin-top: 64px;
  margin-right: 128px;
}

.registration__contentRight {
  margin-top: 64px;
}

.registration__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registration__titleName {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px;
}

.registration__First {
  margin-bottom: 21px;
}

.registration__titleLogin {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px;
}

.registration__entryField {
  width: 360px;
  height: 45px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  border: 1px solid #A4A4A4;
  padding-left: 17px;
}

.registration__entryField::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration__entryField:-ms-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration__entryField::-ms-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration__entryField::placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.registration__entryBox {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  margin-top: 32px;
  margin-bottom: 33px;
}

.registration__entryCheck {
  border: 1px solid #A4A4A4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 10px;
}

.registration__entryText {
  margin-right: 20px;
}

.registration__text {
  width: 360px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-top: 15px;
  margin-bottom: 39px;
}

.registration__btn {
  width: 167px;
  height: 50px;
  background: #F16D7F;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.registration__btnImages {
  margin-left: 20px;
}

.registration__list {
  list-style: inside;
}

.registration__listItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.registration__listImg {
  margin-right: 23px;
}

.registration__listItem:not(:last-child) {
  margin-bottom: 16px;
}

.registration__listItem::before {
  content: ' ';
  display: block;
  margin-right: 22px;
  width: 20px;
  height: 16px;
  background-image: url(img/Vreg.svg);
}

.registration__titleRight {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.registration__textRight {
  width: 652px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 21px;
  margin-top: 22px;
}

@media (max-width: 768px) {
  .container {
    max-width: 734px;
    margin: 0 auto;
  }
  .registration__contentLeft {
    margin-top: 40px;
    margin-right: 22px;
  }
  .registration__contentRight {
    margin-top: 40px;
  }
  .registration__titleRight {
    font-size: 16px;
    line-height: 19px;
  }
  .registration__textRight {
    width: auto;
    font-size: 16px;
    line-height: 19px;
  }
  .registration__listItem {
    font-size: 16px;
    line-height: 19px;
  }
  .subscribe {
    height: 614px;
  }
  .subscribe .subscribe__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subscribe .subscribe__img {
    margin-top: 64px;
  }
  .subscribe .subscribe__form {
    margin-top: 48px;
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 358px;
  }
  .img__right {
    display: none;
  }
  .arrivals .arrivals__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 60px;
  }
  .arrivals .bread__crumbs {
    margin-top: 32px;
  }
  .registration {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 100px;
  }
  .registration__entryField {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 356px;
    height: 43px;
  }
  .subscribe {
    height: 550px;
  }
  .subscribe .subscribe__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subscribe .subscribe__text-img {
    font-size: 18px;
    line-height: 22px;
    width: 343px;
  }
  .subscribe .subscribe__text {
    line-height: 153.2%;
  }
  .subscribe .subscribe__form {
    margin-top: 59px;
  }
  .subscribe .subscribe__text-form {
    font-size: 14px;
    line-height: 21px;
  }
  .subscribe .subscribe__input {
    margin-top: 22px;
  }
  .footer {
    height: 143px;
  }
  .footer .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer__text {
    margin-top: 40px;
  }
  .footer .icon__footer {
    margin-top: 43px;
  }
}
/*# sourceMappingURL=regstyle.css.map */